build
*.o
.depend
Configfile
doc/abstract.out
doc/croff/keys.c
doc/croff/mktable
src/clients/examples/bounce
src/clients/examples/cycle
src/clients/examples/grav
src/clients/examples/grid
src/clients/examples/hilbert
src/clients/examples/mgreyes
src/clients/examples/oclose
src/clients/examples/stringart
src/clients/examples/walk
src/clients/portable/hpmgr/hpmgr
src/clients/portable/ico/ico
src/clients/portable/mgrplot/mgrplot
src/clients/portable/mgrsketch/mgrsketch
src/clients/portable/mphoon/mphoon
src/clients/portable/mphoon/mphoon_big
src/clients/portable/mphoon/mphoon_small
src/clients/portable/simple/browse
src/clients/portable/simple/clock
src/clients/portable/simple/clock2
src/clients/portable/simple/cut
src/clients/portable/simple/iconmail
src/clients/portable/simple/iconmsgs
src/clients/portable/simple/mclock
src/clients/portable/simple/mgrbiff
src/clients/portable/simple/mgrmail
src/clients/portable/simple/mgrmsgs
src/clients/portable/simple/mgrshowfont
src/clients/portable/simple/mgrview
src/clients/portable/simple/squeeze
src/clients/portable/simple/startup
src/clients/portable/simple/unsqueeze
src/clients/portable/simple/window_print
src/clients/portable/text2font/font2text
src/clients/portable/text2font/text2font
src/clients/portable/xbd/mgrbd
src/clients/tests/event
src/clients/tests/half
src/clients/tests/hfont
src/clients/tests/many
src/clients/tests/spot
src/clients/tests/test_menu
src/clients/tests/test_rop
src/clients/tests/trans
src/libbitblit/blit/blitlib.a
src/libbitblit/colorport/screen.h
src/libbitblit/pixrect/screen.h
src/libbitblit/stub_lib/blitlib.a
src/libmgr/libmgr.a
